Flask==2.2.5
Flask-Cors==3.0.10
Werkzeug==2.2.2
gunicorn==25.0.3
python-dotenv
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
sentence-transformers==3.0.1
transformers==4.44.2
pyspellchecker==0.8.1
git+https://github.com/MrPeterss/infosci-spark-client.git